legend{
    color: red;
    font-size: 1.5rem;
}
fieldset{
    background-color: pink;
}
label{
    color: darkblue;
}
input, textarea, button{
    background-color: rgb(238, 238, 118);
}
.lang label{
    color: rgb(7, 139, 0);
    font-size: 1.5rem;
}
